/.env.local
/.env.*.local

/apps/*/*/var/
/apps/*/*/vendor/

/apps/*/*/build/
!/apps/*/*/build/supervisor/.gitkeep

/vendor/
.phpunit.result.cache

/build

.php-cs-fixer.cache

###> PhpStorm ###
.DS_Store
/.idea
/.run
###< PhpStorm ###
